<!-- templates/login.html -->

{% extends "base.html" %}

{% block head %}

<title>Регистрация</title>

{% endblock %}



{% block body %}

<div class="column is-4 is-offset-4">
    <h3 class="title">Registration</h3>
    <div class="box">

        {% if wrong_password: %}
        <p>wrong password</p>
        {% endif %}
        <form action="/registration.html" class = "form_style" method="POST">

            <div class="container">
                <label for="uname"><b>Login</b></label>
                <input type="text" placeholder="Enter Login" name="login"
                    required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password"
                    name="password" required>
                <label for="psw_check"><b>Repeat Password</b></label>
                <input type="password" placeholder="Enter Password"
                    name="password_check" required>

                <button class="reg_but_form">Sign up</button>
                <a href="/login.html" class="reg_but_form">Sign in</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}