{% extends 'base.html' %}
{% block head %}
<title>Test</title>
{% endblock %}
{% block body %}
<h1> Test {{test_num}}</h1>
{%for question in this_test: %}
<div class="question">
  <h3>{{question["q_text"]}}</h3>
  {%for option in question["options"]: %}
  <div class="answer">
    <input type="radio" name="{{question['answ!']}}" value="{{option}}">
    <label>{{option}}</label>
  </div>
  {%endfor%}
</div>
{%endfor%}
<button class="reg_but_form" value="Check" onclick="f_test_check()">Finish</button>
<script>
  function f_test_check() {
    var norm_answ = 0;
    var questions = document.getElementsByClassName("question");
    for (var i = 0; i < questions.length; i++) {
      var any_checked = false
      var rbs = questions[i].getElementsByTagName("input");
      for (var j = 0; j < rbs.length; j++) {
        if (rbs[j].checked) {
          any_checked = true;
          if (rbs[j].name == rbs[j].value) {
            norm_answ += 1;
            break;
          }
        }
      }
      if (!any_checked) {
        alert("answer on every question");
        return;
      }
    }
    final_result = String(norm_answ) + "/" + String(questions.length)
  
    $.post("/add_test_result",
      { result: final_result, 
        test_num: "{{test_num}}",
        login: "{{session['login']}}" },
    )
    $.get("/cabinet.html")

  }
</script>
{% endblock %}